.SignUp-button {
  background-color: #00FFFF;
  color: rgb(0, 0, 0);
  padding: 10px 24px;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 600;
  width: 30;
}

.SignUp-button:hover {
  background-color: #257a7a;
  transform: scale(1.05);
}

.SignUp-button span {
  color: rgb(12, 12, 12);
  font-size: 16px;
  align-items: center;
}
